body{
	text-align: center;
	background-image: url(https://pixabay.com/static/uploads/photo/2014/06/21/14/54/rose-373790_960_720.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: sans-serif;
  font-weight: 100;
}

h2{
  color: #054907;
  font-weight: 100;
  font-size: 40px;
  margin: 40px 0px 20px;
}

#clockdiv{
	font-family: sans-serif;
	color: #fff;
	display: inline-block;
	font-weight: 100;
	text-align: center;
	font-size: 30px;
}

#clockdiv > div{
	padding: 10px;
	border-radius: 3px;
	background: #00BF96;
	display: inline-block;
}

#clockdiv div > span{
	padding: 15px;
	border-radius: 3px;
	background: #00816A;
	display: inline-block;
}

.smalltext{
	padding-top: 5px;
	font-size: 16px;
}
