body {
  background-image: url(https://pixabay.com/static/uploads/photo/2014/06/21/14/54/rose-373790_960_720.jpg);
}

.no-dot {
list-style: none;
}

#panel {
  background-color: lime;
}

#output {
  background-color: #adcca8;
}
