input[type=text]:focus {
  background-color: #FFCCCC;
  border: 3px solid #9DE093;
}

#header {
  background-color: #adcca8;
  border-color: #f7f7f7;
  border-radius: 2em;
  border-style: ridge;
  text-align: center;
}

h1 {
  color: inherit;
  font-family: cursive;
}

.no-dot {
list-style: none;
background-color: inherit;
border: none;
}

#panel {
  background-color: #adcca8;
  border: 1em;
  position: center;
}

#btnS {
  background-color: #FF91A4;
  border-color: #FFCCCC;
  position: center;
  margin-bottom: 20px;
}

#instructions {
  align-items: center;
}


#checkbox {
  align-items: center;
}
